html,
body {
  height: 100%;
}

/* * {
  border: solid black 1px;
} */

.middle-content {
  min-height: 100%;
  height: auto !important; /*Cause footer to stick to bottom in IE 6*/
  height: 100%;
  margin: 0 auto -50px; /*Allow for footer height*/
  vertical-align: bottom;
}

#divFooter,
#divPush {
  height: 100px; /*Push must be same height as Footer */
}

.background-green {
  background-color: #66cdaa;
}
.background-pink {
  background-color: #ffc0cb;
}

.icon {
  font-size: 30px;
  padding: 5px;
  color: white;
}
.icon-github {
  background: black;
}
.icon-linkedin2 {
  background-color: #007ab9;
}
.icon-stackoverflow {
  background-color: #ffa500;
}

.max-width {
  width: 960px;
}

.main-content {
  width: 650px;
}

.side-bar {
  width: 270px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.contact-bar a {
  padding: 10px;
}

.center {
  margin: auto;
}

h1 {
  padding: 5px;
}

h2 {
  padding: 10px;
}

img {
  float: left;
}
body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  border-bottom: 2px gray solid;
  height: 30px;
  padding: 20px 0;
}

.topnav {
  float: right;
  padding: 14px;
}

nav {
  height: 70px;
  line-height: 70px;
  border: 1px solid green;
}

.container {
  display: flex;
  align-items: center;
}

.container section {
  flex-grow: 1;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #66cdaa;
  text-align: center;
  height: 30px;
}
